
.container {
  display: grid;
}


main {
  background-color: lightblue;
  grid-area: main;
  font-size: 30px;
  height: 200px;
 
  text-align: center;
  color: white;

  
}

main p {
  padding-top: 50px;
}

.Title1, .Title2, .Title3 {
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

nav {
  text-align: center;
}

.block {
  background-color: lightcoral;
}
nav > p {
  text-align: left;
  color: white;
}

.Title1 {
  grid-area: Title1;
  padding-top: 20px;
}

.Title2 {
  grid-area: Title2;
  padding-top: 20px;
}
.Title3 {
  grid-area: Title3;
  padding-top: 20px;
}

.Title1 > .block{
  background-color: blue;
  color: blue;
  }

 .Title2 > .block{
  background-color: orangered;
  color: orangered;
  }

  .Title3 > .block{
   background-color: lightblue;
   color: lightblue;
   }

a {
  font-size: 20px;

}

.tit {
  font: bold;
  font-size: 25px;
}


@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "main main main"
      "Title1 Title2 Title3"
          
  }
}

@media (max-width: 699px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main "
      "Title1"
      "Title2"
      "Title3"
      
      
  }
}